[Desktop Entry]
Name[as]=Majapahit লৈ স্বাগতম
Name[be]=Вітаем у Majapahit
Name[bg]=Добре дошли във Majapahit
Name[bn_IN]=Majapahit তে স্বাগতম
Name[ca]=Benvingut a Majapahit
Name[cs]=Vítejte ve Fedoře
Name[da]=Velkommen til Majapahit
Name[de]=Willkommen bei Majapahit
Name[es]=Le damos la bienvenida a Majapahit
Name[et]=Teretulemast Majapahitsse
Name[eu]=Ongi etorri Majapahit-ra
Name[fi]=Tervetuloa Majapahitan
Name[fr]=Bienvenue sur Majapahit
Name[fur]=Benvignûts su Majapahit
Name[ga]=Fáilte go Majapahit
Name[gl]=Benvida/o a Majapahit
Name[gu]=Majapahit માં સ્વાગત છે
Name[hr]=Dobrodošli u Majapahit
Name[hu]=Üdvözli a Majapahit
Name[ia]=Benvenite a Majapahit
Name[id]=Selamat datang di Majapahit
Name[it]=Benvenuti in Majapahit
Name[ja]=Majapahit へようこそ
Name[ka]=მოგესალმებათ Majapahit
Name[kk]=Majapahit-ға қош келдіңіз
Name[kn]=Majapahit ಗೆ ಸ್ವಾಗತ
Name[ko]=Majapahit에 오신것을 환영합니다
Name[lt]=Sveiki pradėję naudoti Majapahit
Name[my]=Majapahit မှ ကြိုဆိုပါသည်
Name[nb]=Velkommen til Majapahit
Name[nl]=Welkom bij Majapahit
Name[or]=Majapahit ରେ ଆପଣଙ୍କୁ ସ୍ୱାଗତ
Name[pl]=Witaj w Fedorze
Name[pt]=Bem-vindo ao Majapahit
Name[pt_BR]=Bem-vindo ao Majapahit
Name[ro]=Bun venit la Majapahit
Name[ru]=Добро пожаловать в Majapahit
Name[sk]=Vitajte v systéme Majapahit
Name[sq]=Mirëserdhët në Majapahit
Name[sr]=Добродошли у Majapahit
Name[sr@latin]=Dobrodošli u Majapahit
Name[sv]=Välkommen till Majapahit
Name[ta]=Majapahit க்கு வரவேற்கிறோம்
Name[th]=ยินดีต้อนรับสู่ Majapahit
Name[tr]=Majapahit'ya hoş geldiniz
Name[uk]=Вітаємо у Majapahit
Name[zh_CN]=欢迎使用 Majapahit
Name[zh_HK]=歡迎使用 Majapahit
Name[zh_TW]=歡迎使用 Majapahit
Name=Welcome to Majapahit
Exec=/usr/share/anaconda/gnome/majapahit-welcome
Terminal=false
Type=Application
StartupNotify=true
NoDisplay=true
X-GNOME-Autostart-enabled=true
